@import "base.scss";

//  _____                 _                                 _             _
// / ____|               | |                               | |           | |
// | |       _   _   ___  | |_    ___    _ __ ___      ___  | |_   _   _  | |   ___   ___
// | |      | | | | / __| | __|  / _ \  | '_ ` _ \    / __| | __| | | | | | |  / _ \ / __|
// | |____  | |_| | \__ \ | |_  | (_) | | | | | | |   \__ \ | |_  | |_| | | | |  __/ \__ \
// \_____|  \__,_| |___/  \__|  \___/  |_| |_| |_|   |___/  \__|  \__, | |_|  \___| |___/
//                                                                 __/ |
//                                                                |___/

#masthead-container, #leaderboard-ad, #footer {
    display: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}

#hc-header {
    margin-top: 4rem;
}

#hc-nav {
    background: #1e1e1e;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    -webkit-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.67);
    box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.8);
}

#hc-nav-margin {
    width: 90%;
    margin: 0 auto;
}

#hc-nav-logo {
    float: left;
    color: white;
    font-family: $sans;
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 0.9rem;
    width: 30%;

    @media (max-width: 768px) {
        width: auto;
    }

    a {
        color: white;
    }
}

// Hollywood's greatest trick page title
#hc-nav-head {
    @extend #hc-nav-logo;
    width: 40%;
    text-align: center;

    span {
        display: none;
    }

    @media (max-width: 768px) {
        width: auto;
    }
}

// share icons
#hc-nav-social {
    margin-right: -10px;
    padding-top: 0.3rem;
    width: 30%;
    float: left;

    @media (max-width: 768px) {
        width: auto;
        float: right;
    }
}

.share-icons {
    float: right;
}

// removes gray background on share icons
.share-icons li .glyphicon {
    background: none;
}

header {
    margin-top: 4rem;
}

// #hc-hero-wrapper-desk {
//     display: block;
//     padding-bottom: 56.25%;
//     height: 0;
//     overflow: hidden;
//     max-width: 100%;
//     position: relative;
//     margin: 0 auto 4rem;
//
//     @media (max-width: 768px) {
//         display: none;
//     }
// }

#hc-hero-placeholder {
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
    margin: 0 auto 4rem;

    @media (max-width: 768px) {
        height: 500px;
    }
}

#hc-hero-wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #222;
    background: url('http://www.mcclatchydc.com/news/n3jo3s/picture128695919/binary/vfx-hero.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto 4rem;

    @media (max-width: 768px) {
        // padding-bottom: 56.25%;
        height: 500px;
    }
}

#hc-video-overlay {
    width: 100%;
    position: absolute;
    z-index: 1001;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;

    @media (max-width: 700px) {
        top: 60%;
    }

    p.hc-video-intro {
        color: white;
        font-family: $sans;
        font-size: 1.5rem;
        line-height: 2.4rem;
        max-width: 550px;
        width: 90%;
        text-align: center;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    }
}

#hc-hero-video {
    display: none;
    margin: 0 auto 4rem;
}

#hc-hero-img {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    z-index: 1000;
}

.play-wrapper {
    max-width: 100px;
    margin: 0 auto;
    display: block;
    height: 200px;
    cursor: pointer;
}

.hc-video-play {
    box-sizing: border-box;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
    left: 0;
    right: 0;
    opacity: 0.6;
    display: inline-block;
    // float: left;
}

.hc-video-play:hover {
    opacity: 1;
}

.hc-video-time {
    color: white;
    text-align: center;
    font-family: $sans !important;
    display: inline;
    float: left;
    margin-bottom: 0px;
    width: auto !important;
    margin-left: 1rem !important;
    padding-top: 0.8rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        padding-top: 0rem;
    }
}

#hc-video-head {
    text-align: center;
    color: white;
    font-family: $sans;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.hc-graphic-head {
    @extend .reset;
    font-size: 1.8rem;
    font-family: $sans;
}

.hc-graphic {
    max-width: 650px;
    margin: 3.6rem auto;
    display: block;
}

.fa-play-circle {
    color: white;
    display: inline;
    float: left;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#play-btn-desk {
    display: inline;

    @media (max-width: 768px) {
        display: none;
    }
}

#play-btn-mob {
    display: none;

    @media (max-width: 768px) {
        display: inline;
    }
}
